Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

**3.** Return the first 3 rows of the DataFrame `df`.

In [4]:
print(df.iloc[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [5]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [6]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**6.** Select only the rows where the number of visits is greater than 3.

In [7]:
df[df['visits']>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [8]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [9]:
df[(df['animal']=='cat')&(df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is between 2 and 4 (inclusive)

In [10]:
df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

In [11]:
df.loc['f','age']=1.5

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [12]:
df['visits'].sum()

19

**12.** Calculate the mean age for each different animal in `df`.

In [13]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [14]:
df.loc['k']=[4.5,'cat','yes',2]

**14.** Count the number of each type of animal in `df`.

In [15]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
4.5      1
Name: animal, dtype: int64

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [16]:
df.sort_values(by=['age','visits'],ascending=[False,True])

  animal  age visits priority
k    4.5  cat    yes        2
i    dog  7.0      2       no
e    dog  5.0      2       no
g  snake  4.5      1       no
j    dog  3.0      1       no
b    cat  3.0      3      yes
a    cat  2.5      1      yes
f    cat  1.5      3       no
c  snake  0.5      2       no
h    cat  NaN      1      yes
d    dog  NaN      3      yes

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [17]:
df['priority']=df['priority'].map({'yes':True,'no':False})

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [18]:
df['animal']=df['animal'].replace('snake','python')

**18.** Load the ny-flights dataset to Python

In [21]:
nyflights=pd.read_csv("ny-flights.csv")

**19.** Which airline ID is present maximum times in the dataset

In [23]:
df.max(airline_id)

NameError: name 'airline_id' is not defined

**20.** Draw a plot between dep_delay and arr_delay

In [24]:
dep_delay,arr_delay=np.loadtxt("C:\Users\hp\OneDrive\Desktop\DSA Internship\ny-flights.csv",skiprows=1,unpack=True,delimiter=",")
plt.plot(dep_delay,arr_delay,label="NY Flights")
plt.xlabel('dep_delay')
plt.ylabel('arr_delay')
plt.show()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2909358970.py, line 1)